fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-dotenv
pillow
pandas
numpy
qdrant-client
langchain
groq
langchain-groq
python-multipart
pydantic-settings
langchain-community
langchain-core
s3fs
boto3
matplotlib
reportlab
